html,
body {
  margin: 0;
  padding: 0;
}

.gameBackground {
  display: flex;
  justify-content: center;
}

.gameContainer {
  height: 705px;
  width: 900px;
  border: 5px solid black;
  overflow-y: hidden;
}

.body {
  display: flex;
  flex-direction: row;
}

.dropZone {
  flex: 0 0 auto;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag.active {
  width: 130px;
}

.dropZone.horizontalDrag:last-of-type {
  width: 100%;
}

.dropZone.horizontalDrag:first-of-type {
  width: 100%;
}

.dropZone.horizontalDrag {
  width: 10px;
  height: auto;
}

.dropZone.active,
.trashDropZone.active {
  background: #00a2ff;
  transition: 100ms all;
}

.column {
  border: 1px solid blue;
  height: 210px;
  margin-top: -30px;
}

.columns {
  width: 100%;
  display: flex;
  justify-content: center;
  height: inherit;
  transform: scale(0.7) !important;
}



.base {
  background-color: white;
  cursor: move;
}

.row {
  border: 1px solid red;
  height: 150px;
}

.pageContainer {
  display: flex;
  justify-content: center;
  flex: auto;
  flex-direction: column;
}

.enemy {
  border: 1px solid #00a2ff;
  height: 205px;
  width: 150px;
  z-index: 10;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.enemyField {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 5;
  transform: scale(0.7) !important;
  margin-top: -30px;
  margin-bottom: -30px;
}

.enemyHand {
  display: flex;
  justify-content: center;
  height: 100px !important;
  width: 100%;
  z-index: 5;
  transform: rotate(180deg) scale(0.6) !important;
  margin-left: -25px;
  margin-bottom: -20px;
  pointer-events: none !important;
}

.card {
  width: 150px;
}

.sideBar {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 5;
  transform: scale(0.6) !important;
  margin-top: -40px;
}

.sideBarItem {
  //border: 1px solid #000;
  height: 205px;
  width: 150px;
  margin-left: -50px;
  z-index: 10;
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

$total: 10;
@for $i from 0 through ($total - 1) {
  $hue: calc(($i / $total) * 360);
  $rotationRange: 50;
  $rotation: calc(($i - ($total - 1) / 2) / ($total - 2)) * $rotationRange;
  $offsetRange: 80;
  $offset: abs(calc(($i - ($total - 1) / 2) / ($total - 2)) * $offsetRange);

  .sideBarFace:nth-child(#{$i}) {
    .sideBarItem {
      transform: translateY($offset * 1px) rotate($rotation * 1deg);
    }
    &:hover {
      .sideBarItem {
        transform: translateY(-100px) rotate(0deg) scale(2);
        transition-duration: 0ms;
        z-index: 5;
        &:after {
          animation: fade 250ms ease-out forwards;
        }
      }
      &:after {
        top: -175px;
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0.9;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.15);
  }
}
