html,
body {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: row;
}

.sideBar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 70px;
}

.sideBar {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 5;
}

.sideBarItem {
  //border: 1px solid #000;
  height: 205px;
  width: 150px;
  margin-left: -70px;
  z-index: 10;
}

.dropZone {
  flex: 0 0 auto;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag.active {
  width: 130px;
}

.dropZone.horizontalDrag:last-of-type {
  width: 100%;
}

.dropZone.horizontalDrag:first-of-type {
  width: 100%;
}

.dropZone.horizontalDrag {
  width: 10px;
  height: auto;
}

.dropZone.active,
.trashDropZone.active {
  background: #00a2ff;
  transition: 100ms all;
}

.column {
  border: 1px solid blue;
}

.columns {
  height: 205px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.columnContainer {
  display: flex;
}

.base {
  background-color: white;
  cursor: move;
}

.row {
  border: 1px solid red;
}

.pageContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  margin-bottom: 100px;
}

.enemy {
  border: 1px solid #00a2ff;
  height: 205px;
  width: 150px;
  z-index: 10;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.card {
  width: 150px;
}

$total: 10;
@for $i from 0 through ($total - 1) {
  $hue: ($i / $total) * -360;
  $rotationRange: 50;
  $rotation: ($i - ($total - 1) / 2) / ($total - 2) * $rotationRange;
  $offsetRange: 80;
  $offset: abs(($i - ($total - 1) / 2) / ($total - 2) * $offsetRange);
  .sideBarFace:nth-child(#{$i}) {
    .sideBarItem {
      transform: translateY($offset * 1px) rotate($rotation * 1deg);
    }
    &:hover {
      .sideBarItem {
        transform: translateY(-50px) rotate(0deg) scale(1.7);
        transition-duration: 0ms;
        position: relative;
        margin-right: 70px;
        margin-left: 20px;
        &:after {
          animation: fade 250ms ease-out forwards;
        }
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0.9;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.15);
  }
}
