$card-scale: 0.63;

.cards {
  display: flex;
  justify-content: center;
}

.generated-efield-card {
  width: 175px;
}

.generated-field-card {
  width: 175px;
}

.generated-hand-card {
  transform: scale($card-scale);
  transform-origin: top left;
  padding-left: 57px;
  margin-left: -70px;
  padding-left: -100px;
  width: 175px;
}
