#cardContainer {
  max-width: 400px;
  height: 400px;
  z-index: 2;
  display: flex;
}

#cardTemplate {
  position: relative;
  top: 0;
  bottom: 0;
  z-index: 2;
}

#cardFace {
  position: relative;
  top: 65px;
  bottom: 0;
 left: -250px;
  height: 220px;
  z-Index: 1;
}

#cardTitle {
  position: absolute;
  font-family: "Didact Gothic", sans-serif;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 15px;
  width: 210px;
  height: 30px;
  z-index: 2;
}

/* star levels */
#starLevel {
  position: absolute;
  z-index: 2;
  margin-left: 230px;
  margin-top: 50px;
  height: 15px;
  width: 15px;
}

#cardType {
  position: absolute;
  z-index: 2;
  margin-left: 235px;
  margin-top: 22px;
  height: 20px;
  width: 20px;
}

#monsterType {
  position: absolute;
  z-index: 2;
  margin-left: 23px;
  margin-top: 303px;
}

#monsterDescription {
  position: absolute;
  z-index: 2;
  margin-left: 23px;
  margin-top: 323px;
  width: 235px;
}

#monsterAtk {
  display: none
}

#monsterDef {
  display: none
}
